:root{
    /*rgb(138, 43, 226) purple*/
    /*rgb(59, 212, 250) light-blue*/
    --default-block-margin: 10px;
    --primary-color: rgb(138, 43, 226);
    --secondary-color: rgb(58, 248, 0);
    --accent-color: rgb(200, 200, 200);
    --gradient: linear-gradient(
        to left,
        var(--primary-color),
        var(--primary-color),
        var(--primary-color),
        var(--secondary-color),
        var(--secondary-color),
        var(--secondary-color)
    );
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(25, 25, 25);
    font-family: 'Space Mono', monospace;
}
.color-change-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.color-picker-container{
    color: var(--accent-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.color-picker-container > *{
    margin-inline: 10px;
}
.color-picker-container input[type=color]{
    border-style: none;
    border: 1px solid rgb(25, 25, 25);
    height: 40px;
    width: 40px;
}
.update-colors-button{
    text-align: center;
    justify-items: center;
    align-items: center;
    width: 200px;
    height: 30px;
    color: var(--accent-color);
    border: 3px solid rgb(25, 25, 25);
    border-radius: 20px;
    background-image: var(--gradient);
    background-size: 400%;
    background-position: right;
    transition: background-position .5s;
}
.update-colors-button:hover{
    background-position: left;
}
main{
    margin-bottom: 200px;
}
h1,
.button{
    text-align: center;
    color: var(--accent-color);
}
h1{
    margin-top: 20px;
    font-size: 40px;
}
.to{
    color: var(--primary-color);
}
.do{
    color: var(--secondary-color);
}
.button button{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 75px;
    width: 200px;
    background-image: var(--gradient);
    background-size: 400%;
    background-position: right;
    border: 1px solid rgb(25, 25, 25);
    border-radius: 50px;
    z-index: 1;
    color: rgb(25, 25, 25);
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-position .5s;
}
.button button:active:hover{
    color: var(--primary-color);
    background-position: left;
}
.button button::before{
    content: "";
    position: absolute;
    height: 72%;
    width: 87.5%;
    background-color: rgb(100, 100, 100);
    top: 10%;
    left: 4.75%;
    border: 3px solid rgb(25, 25, 25);
    border-radius: 50px;
    z-index: -1;
}
.button button:hover{
    background-position: left;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    color: var(--secondary-color);
}
.list-button{
    position: relative;
    top: 5px;
    left: 40px;
    height: 65px;
    width: 150px;
    border: 1px solid rgb(100, 100, 100);
    border-left: 5px solid var(--secondary-color);
    border-radius: 50px;
    margin-right: 25px;
    padding-left: 10px;
    background-color: rgb(100, 100, 100);
    color: rgb(25, 25, 25);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 20px;
    text-align: left;
    z-index: 0;
}
.list-button:hover{
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: rgb(25, 25, 25);
}
h2{
    color: var(--accent-color);
    text-align: center;
    border-bottom: 3px solid var(--accent-color);
    width: 90%;
    margin-inline: auto;
    margin-bottom: 50px;
    padding-bottom: var(--default-block-margin);
}
ol{
    position: relative;
    color: rgb(200, 200, 200);
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 90%;
    margin-inline: auto;
}
.task-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
ol li{
    position: relative;
    top: 0;
    left: -50px;
    margin-top: var(--default-block-margin);
    font-size: 16px;
    padding: 15px;
    color: var(--accent-color);
    border: 8px solid rgb(25, 25, 25);
    border-radius: 70px;
    width: 100%;
    flex-wrap:wrap;
    background-image: var(--gradient);
    background-size: 500%;
    background-position: right;
    transition: background-position .75s;
    z-index: 1;
}
ol li::after{
    content: "";
    position: absolute;
    top: 8%;
    left: 2%;
    height: 80%;
    width: 95%;
    background-color: rgb(25, 25, 25);
    border: 1px solid rgb(25, 25, 25);
    border-radius: 70px;
    z-index: -1;
}
.list-button:hover + .list-item,
.list-button:focus + .list-item{
    background-position: left;
}
footer{
    position: fixed;
    z-index: 5000;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--primary-color);
}
footer > *{
    position: relative;
    min-width: 100%;
    margin-inline: auto;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}
.by{
    color: var(--primary-color);
}
.footer-container{
    position: relative;
    margin-top: 10px;
    height: 50px;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--secondary-color);
}
.footer-container i{
    transform: scale(2);
    color: var(--secondary-color);
}
.footer-container i:hover{
    color: var(--primary-color);
}
.fa-github{
    text-align: right;
}

@media (min-width: 678px){
    h2{
        width: 60%;
        font-size: 40px;
    }
    ol li{
        width: 40%;
        left: -50px;
        font-size: 24px;
    }
    .list-button{
        position: relative;
        left: 80px;
        font-size: 25px;
        padding-inline: 15px;
    }
    h1{
        font-size: 60px;
    }
    .footer-container i{
        transform: scale(3);
    }
}